* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(81,81,81,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_14 {
  width: 952px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 473px;
  left: 244px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v1_15 {
  width: 434px;
  height: 311px;
  background: url("Connekt1on.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 503px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_19 {
  width: 410px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 797px;
  left: 514px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
